.card-text-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5rem;
  width: 100%;
}

@media (max-width: 768px) {
  .card-text-container {
    padding-top: 3rem;
  }
}
